---
layout: default.njk
---

<article class="page">
  {% if not hideTitle %}
  <header class="page-header">
    <div class="container-narrow">
      <h1 class="page-title">{{ title }}</h1>
    </div>
  </header>
  {% endif %}

  <div class="page-content container-narrow">
    {{ content | safe }}
  </div>
</article>
